:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; 
  background: linear-gradient(to bottom, #242424); 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
}

section {
  position: absolute;
  background: radial-gradient(circle, #1368D8, #7020CB);
  top: 0;
  inset: 0;
  display: grid;
  font-size: 48px;
  place-content: center;
}